$color-green: #11803b;
$color-gray: gray;
$padding-base: 20px;
$margin-base: 20px;


.container{
    margin: 3*$margin-base;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(4, 25%);
    grid-auto-flow: row;

    @media only screen and (min-width: 650px)  and (max-width: 950px) {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: 50% 50%;
    }
    @media only screen and (min-width: 000px)  and (max-width: 649px) {
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, 25%);
        margin: 2*$margin-base;
    }
}
.item{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px minmax(40px, auto) auto;
    grid-auto-flow: column;
    padding: $padding-base;

    img{
        max-height: 150px;
        max-width: 150px;
        width: auto;
        height: auto;
        justify-self: center;
        align-self: center;
        margin-bottom: $margin-base;
    }

    h2{
        color: $color-green;
        font-size: 24px;
       justify-self: center;
        margin-bottom: $margin-base;
    }
    p{
        color: $color-gray;
    }

}

