$color-gray: rgba(228, 228, 227, 0.9);
$color-gray-light: rgba(239, 239, 238, 0.19);
$color-purple: #5a61ef;

.container{
    width: 400px;
    height: 600px;
    margin-bottom: 20px;
    background-color: $color-gray;
    padding: 10px;
    color: $color-gray;
    @media only screen and (max-width: 400px) {
        width: 100%;
    }

    .item{
        background-color: $color-purple;
        width: 100%;
        height: 100%;
        padding: 30px;
        box-sizing: border-box;

    }
    .divider{
        width: 100%;
        border-top: 1px solid $color-gray-light;
        margin: 10px  0%;
    }
    img{
        width: 100%;
    }

    .user-list-item{
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: calc(100% - 40px) 40px;
        grid-auto-flow: row;
        padding: 10px 0;
        border-bottom: 1px solid $color-gray-light;
    }
    .user-list-item h4:last-child{
        justify-self: end;
    }

    .user-list-item:last-child{
        padding-bottom: 30px;
    }

    footer{
        text-transform: uppercase;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: calc(100% - 40px) 40px;
        grid-auto-flow: row;
        justify-items: end;
        padding: 20px 0;
    }
    .arrow, .arrow:visited, .arrow:focus{
        text-decoration: none;
        color: $color-gray;

    }
}

.font-40{
    font-size: 40px;
}
.font-16{
    font-size: 16px;
}
.font-14{
    font-size: 14px;
}
.mb-20{
    margin-bottom: 20px;
}

.mb-30{
    margin-bottom: 30px;
}

.pb-20{
    padding-bottom: 20px;
}
